@font-face {
  font-family: LevelOne;
  src: url('LevelOne.woff');
}

body {
  font-family: LevelOne, "Lucinda Grande" !important;
  background-color: black;
}

#mainview {
  width: 100%;
}

.overlay {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  bottom: 0px;
  height: 200px;
  width: 100%;
  transition: visibility 0s linear 0.7s, opacity 0.7s ease-in-out;
}

.overlay-hidden {
  opacity: 0; visibility:hidden;
}

.overlay-visible {
  transition-delay: 0s;visibility: visible; opacity: 0.5;
}

.logo {
  background: url('eyevinnlogo.png') no-repeat;
  background-size: 100% 100%;
  width: 300px;
  height: 80px;
  position: absolute;
  left: 20px;
  top: 10px;
  z-index: 10;
}

.sitedesc {
  color: white;
  font-size: 14pt;
  position: absolute;
  left: 20px;
  top: 100px;
}

.small {
  font-size: 10pt;
}

.instructions {
  font-size: 10pt;
  font-style: italic;
  right: 40px;
  top: 20px;
  position: absolute;
  color: white;
}

.clock {
  font-size: 20pt;
  position: absolute;
  right: 50px;
  top: 50px;
  color: white;
}

.vod {
  position: absolute;
  left: 500px;
  top: 0px;
}

.vod-thumbnail {
  width: 200px;
}

.video-stopped {
  background: url('novideo.jpg') no-repeat;
  background-size: 100% 100%;
}
.video-playing {
  background-color: black;
}


#audiosymbol {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  z-index: 20;
  margin: 20px 20px auto;
  transition: visibility 0s linear 0.7s, opacity 0.7s ease-in-out;
}

.audio-muted {
  background: url('audio-off.png') no-repeat;
}

.audio-unmuted {
  background: url('audio-on.png') no-repeat;
}

.audio-hidden {
  opacity: 0; visibility:hidden;
}

.audio-visible {
  transition-delay: 0s;visibility: visible; opacity: 0.5;
}

#errordlg {
  width: 100%;
  background-color: red;
  color: white;
  font-size: 15pt;
  height: 80px;
  text-align: center;
  padding-top: 20px;
  opacity: 0.6;
}

.error-hidden {
  display: none;
}

.error-visible {
  display: block;
}

.playbtn {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 500px;
  height: 500px;
  background: url('play-button.png') no-repeat;
  background-size: 100% 100%;
  z-index: 20;
  border: none;
}

.playbtn-hidden {
  display: none;
}

.playbtn-visible {
  display: block;
}

.startoverbtn {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -350px;
  bottom: 0;
  width: 300px;
  height: 300px;
  background: url('start-over.png') no-repeat;
  background-size: 100% 100%;
  z-index: 20;
  border: none;
}

.startoverbtn-hidden {
  display: none;
}

.startoverbtn-visible {
  display: block;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: rgba(#000, 0.9); 
  padding-left: 100%;
  box-sizing: content-box;
}

.ticker-visible {
  transition-delay: 0s;visibility: visible; opacity: 1;
}

.ticker-hidden {
  opacity: 0; visibility:hidden;
}

.ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;  
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;

  -webkit-animation-iteration-count: infinite; 
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: ticker;
          animation-name: ticker;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;

}

.ticker__item {
  display: inline-block;

  padding: 0 2rem;
  font-size: 2rem;
  color: white;
}

#metadata {
  width: 400px;
  height: 100px;
  left: 40px;
  top: 20px;
  position: fixed;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

#channels {
  width: 200px;
  position: fixed;
  top: 90px;
  right: 10px;
  background-color: black;
  padding: 10px;
  color: white;
}

#channels li {
  width: 100%;
  height: 100px;
  border: solid 1px white;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  font-size: 20pt;
  color: white;
  margin-bottom: 4px;
}

#channels ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
}

#channels button {
  background-color: black;
  height: 80%;
  border: none;
}